.DS_Store
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.P
.qmake.stash
Makefile
triangles-qt
trianglesd
src/trianglesd
src/obj/
src/obj-test/
src/tor_embedded
src/tor/tor-0.4.8.10/
src/tor/tor-0.4.8.10.tar.gz
src/leveldb/libleveldb.a
src/leveldb/libmemenv.a
tor_embedded
contrib/tor-*.tar.gz
contrib/tor-*/
